h1,
h2,
h3,
h4,
p,
ul {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
li {
	list-style-type: none;
}

.link,
.list {
	list-style: none;
	text-decoration: none;
}
.list {
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
