/** перший паршал*/
:root {
	--primary-text-color: #2f303a;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--background-position: #ffffff;
	--transparent-text: #757575;
	--baground-comands: #f5f4fa;
	--background-border: #afb1b8;

	--items: 3 4;
	--indent: 30px;
	--timing-funktion: cubic-bezier(0.4, 0, 0.2, 1);
}
