.contact {
	background-color: var(--primary-text-color);
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (min-width: 1200px) {
		padding-top: 60px;
		padding-bottom: 0px;
	}
}

.contact-link.link:hover,
.contact-link.link:focus {
	color: var(--accent-color);
}

.footer-container {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}

.footer-left {
	@media screen and (min-width: 768px) {
		display: inline-flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		justify-content: space-around;
	}

	@media screen and (min-width: 1200px) {
		align-items: baseline;
	}
}

.footer__addressblock {
	text-align: center;
	// margin-left: 76px;
	@media screen and(min-width:480px) {
		text-align: center;
	}
	@media screen and(min-width:768px) {
		text-align: center;
	}
	@media screen and(min-width:1200px) {
		text-align: left;
	}
}

.logo-footer {
	display: flex;
	justify-content: center;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--accent-color);

	@media screen and (min-width: 1200px) {
		display: block;
		align-items: baseline;
	}
}

.part-logo-white {
	color: var(--background-position);
}
@media screen and(min-width:1200px) {
	address {
		display: block;
	}
}

.footer-list {
	margin-top: 20px;
	margin-bottom: 60px;

	@media screen and(min-width:468px) {
		text-align: center;
	}
	@media screen and(min-width:1200px) {
		text-align: left;
		margin-top: 20px;
	}
}

.footer-list li {
	margin-bottom: 9px;
}
.footer-list li:last-child {
	margin-bottom: 0;
}
.adress {
	display: flex;
	justify-content: center;
	color: var(--background-position);
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.77;
	font-style: normal;
	letter-spacing: 0.03em;
	margin-bottom: 9px;
	transition: 250ms var(--timing-funktion);

	@media screen and (min-width: 1200px) {
		display: block;
	}
	&.link:hover,
	&.link:focus {
		color: var(--accent-color);
	}
}

.contact-link {
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-right: 0;
	transition: 250ms var(--timing-funktion);

	@media screen and (min-width: 1200px) {
		display: block;
		align-items: baseline;
	}
}

.contact-line {
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
.media-footer {
	text-align: center;
	margin-left: 0;
	margin-right: 0;

	@media screen and (min-width: 768px) {
		display: block;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: right;
	}

	@media screen and (min-width: 1200px) {
		display: inline;
		text-align: left;

		position: relative;
		padding-top: 0;
		margin-left: 70px;
		margin-bottom: 20px;
	}
}

.footer-social-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 0.9;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--background-position);
}

.social-set-list {
	padding-left: 0;
	margin: 0;
	margin-top: 20px;
}

.social-set-item {
	display: inline-block;
	margin-right: 10px;
}
.footer-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;

	background-color: rgba(255, 255, 255, 0.12);
	border-radius: 50%;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		transition: 850ms var(--timing-funktion);
	}
}

.footer-icon {
	fill: var(--background-position);
}
/* Footer-label */

.footer-label {
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media screen and (min-width: 768px) {
		padding-top: 0;
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 0;
		margin-left: auto;
		display: inline;
		position: relative;
	}
}

.label-mail:focus,
.label-mail:hover {
	border: 1px solid #188ce8;
	transition: 250ms var(--timing-funktion);
}

.label-title {
	display: flex;
	justify-content: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

	text-transform: uppercase;

	color: var(--background-position);

	@media screen and (min-width: 1200px) {
		display: block;
		margin-bottom: 20px;
	}
}

.label-mail {
	margin-top: 20px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	width: 100%;
	height: 50px;

	color: var(--background-position);

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--primary-text-color);
	cursor: pointer;
	padding: 16px 15px;

	@media screen and (min-width: 768px) {
		display: flex;

		width: 450px;
		margin-top: 20px;
	}

	@media screen and (min-width: 1200px) {
		display: inline-flex;
		width: 358px;
		margin-top: 0;
	}
}
.label-mail:focus {
	outline: transparent;
}
// .footer-btn{

// }
.lable-btn {
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	margin-top: 20px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	max-width: 200px;
	height: 50px;
	padding: 10px 28px;

	color: var(--background-position);
	background: var(--accent-color);

	border-radius: 4px;
	border-color: transparent;
	cursor: pointer;

	@media screen and (min-width: 1200px) {
		margin-top: 0;
		display: inline-flex;
		margin-left: 12px;
	}
}
.lable-btn:hover,
.lable-btn:focus {
	background: #188ce8;
	transition: 250ms var(--timing-funktion);
}

.footer-submit {
	fill: var(--background-position);
	margin-left: 10px;
}
